<div class="row">
  <div class="col-md-12">
    <div class="logout">
      <button class="btn btn-link" id="logout">logout</button>
    </div>
    <div class="row">
      <h1>Welcome, {{name}}!</h1>
    </div>
  </div>
</div>



<script src=>"/public/js/profile.js"</script>